@import "../../Styles/common/color";

.add-remind__block {
	position: relative;
	z-index: 10;
}

.add-remind__dosage {
	z-index: 1;

	input {
		position: relative;
		z-index: 0;
	}
}

.react-datepicker__day--today {
	background: $primary;
}