@import '../../Styles/common/mixin';

.forgot {
	&__card {
    z-index: 1;
  }

	&__title {
		margin-top: 22px;
		margin-bottom: 0px;
		text-align: center;

		&__coment {
			margin-top: 0px;
			margin-bottom: 25px;
			margin-left: 17px;
			font-size: 16px;
	    font-weight: unset;
			font-style: oblique;

			&__m {
				margin: 10px 0;
			}
		}
	}

	&__submit {
		display: flex;
		margin: 45px auto 15px;
		height: 50px;
	}

	&__form {
		padding-right: 20px;
    padding-left: 7px;
	}

	&__email {
		margin-left: 6px;
	}
}
