.profile-tips {
  display: flex;
  margin: 0;

  &__card {
    max-width: 870px;
    padding: 20px 0;
    margin-top: 15px;
  }
}

@media (max-width: 991px){
  .profile-tips__item  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-tips__item:nth-child(2) {
    padding-left: 0!important;
    margin-left: 22px;
  }
  .profile-tips__item:nth-child(3) {
    padding-left: 0!important;
  }
}

@media (max-width: 767px) {
  .profile-tips {
    &__item {
      flex-direction: column;
      text-align: center;
      margin-left: 0 !important;
      padding-left: 0 !important;

      > div {
        &:nth-child(n+2) {
          margin-top: 10px;
          margin-left: 0 !important;
        }
      }
    }
  }
}