@import '../../Styles/common/color';

.header {
  &__nav-item {
    display: inline;
    padding-left: 5px;
    padding-right: 30px;
    z-index: 1;

    a {
      color: white;
      font-size: 14px;
      font-weight: 500;
      transform: scale(1);
      transition: all 0.15s ease-out;

      &:hover {

      }
    }
  }
}

.nav-item {
  position: relative;

  .fa {
    position: absolute;
    right: -10px;
    top: 0;
    color: $primary;
    font-size: 6px;
  }
}
