@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.login {
  &__form {
    @extend %centerVerticallyFlex;
    flex-direction: column;
  }

  &__card {
    z-index: 1;
  }

  &__submit {
    @include size(160px, 40px);
    font-weight: 500;
    margin-top: 20px;
  }

  &__input {
    width: 223px;
    margin-top: 30px;
  }

  &__remind-password {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    color: $grey;
    text-align: right;
  }
}
