@import '../../Styles/common/color';

.search-filter {
  display: unset;
  width: 160px;
  position: absolute;
  top: 46px;
  opacity: 1;
  right: 20px;
  padding: 5px 10px;
  border-radius: 0 0 3px 3px;
  transition: all 0.1s ease-out;
  z-index: 5;

  form {
    margin-bottom: 5px;

    label {
      display: block;
      margin-top: 5px;
    }

    input {
      margin-top: 10px;
    }
  }

  &__submit {
    cursor: pointer;
    color: $primary;
    margin-top: 15px;
    text-align: center
  }

  &--hidden {
    opacity: 0;
    display: none;
  }
}
