@import '../../Styles/common/color';

.dialog-message {
  display: flex;

  &__info {
    max-width: 900px;
    word-wrap: break-word;
  }

  &__avatar {
    padding: 0 15px;
  }

  &__fullName {
    font-weight: 500;
    font-size: 14px;
  }

  &__day-ago {
    font-size: 12px;
    color: $light-gray;
    margin-left: 15px;
  }

  &__text {
    margin-top: 10px;

    &--same-user {
      margin-left: 78px;
      margin-top: 10px;
    }
  }
}
