@import '../../Styles/common/color';

.reminder-big__list {
  background: $gray-darker;
  padding: 25px 30px;
  margin: 0;

  li {
    margin-bottom: 20px;

    &:nth-child(n+2) {
      padding-top: 20px;
      border-top: 1px solid rgba(157, 161, 167, 0.2);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
