@import '../../../Styles/common/color';

.qa-question__status {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border: 1px solid $border-color-2;
  color: $border-color-2;
  font-size: 10px;

  &--visible {
    display: initial;
  }
}