@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.jobs-filter {
  padding: 15px 25px;

  .select__control {
    margin-top: 5px;

    &-is-focused {
      border-color: $primary !important;
      box-shadow: 0 0 0 1px $primary !important;
    }
  }

  &__field {
    &:nth-child(n+2) {
      margin-top: 25px;
    }
  }

  &__collapse {
    cursor: pointer;
    color: $light-gray;
    text-align: right;

    .fa {
      color: $light-gray;
      margin-right: 5px;
    }
  }

  .filter {
    overflow: hidden;
    max-height: 0;
    transition: all 0.25s ease-out;

    &--visible {
      max-height: 150px;
      overflow: visible;
    }
  }
}