@import '../../Styles/common/color';

.api__message {
  font-size: 14px;
  text-align: center;
  padding: 0 30px;

  &--empty {
    display: none;
  }

  &--success {
    color: $primary;
  }

  &--error {
    color: $orange;
  }
}