@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

@media  (min-width: 411px) and (max-width: 720px){
  .DocumentTrans__modal  {
    display: flex;
    flex-direction: column;
    .Modal__src__UserItem    {
      width: 300px!important;
      margin-bottom: 10px;
      width: unset;
    }
  }
}

@media (max-width: 410px) {
  .DocumentTrans__modal
  {
    margin-right: 0!important;

    img    {
      width: unset!important;
    }

  }
}

.DocumentTrans__modal{
  position: absolute;
  top: 50px;
  left: 50%;
  right: auto;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 34px;
  max-width: 670px;
  margin-right: -50%;
  transform: translateX(-50%);
  z-index: 10000;
  max-height: max-content;
}

.DocumentTrans{
  margin-top: 25px;

  &__flex {
    @extend %centerVerticallyFlex;
    background: $primary;
    margin-bottom: 10px;
    padding: 10px 10px 10px 35px;
  }

  &__Avatar__name {
    margin-left: 15px;

    p {
      color: white;
    }
  }
}

.DocumentTrans__Doc{
  &__ment {
    .Image {
      @extend %centerFlex;
      flex-direction: column;
      margin-top: 10px;
      margin-bottom: 10px;

      .images {
        border: 1px solid rgba(157, 161, 167, 0.7);
        padding: 10px;
        margin: 10px;
        width: 290px;
        min-height: 250px;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }
}

.download-document {
  color: $primary;
}

.DocumentTrans__button {
  margin-top: 10px;
  margin-bottom: 20px;

  button {
    @include size(140px, 30px);

    &:nth-child(n+2) {
      margin-left: 10px;
    }
  }
}

.DocumentTrans__Avatar__name {
  a {
    color: White;
    font-weight: 500;
  }
}

.ReactModalPortal:not(:empty) .fa-times {
  top: 10px;
  right:15px;
}

@media (max-width: 500px){
  .DocumentTrans__button  {
    display: flex;
    flex-direction: column;
    width: 80%!important;

    button {
      margin-left: 0!important;
      margin-bottom: 10px ;
      width: 100% !important;
    }

  }
  .Image  {
    .images
    {
      width: 80%!important;
    }
  }
  .DocumentTrans__flex  {
    padding-left: 0!important;
    flex-direction: column;
  }
  .DocumentTrans__Avatar__name  {
    margin-top: 10px;
  }
}