@import '../../Styles/common/color';

%input-style {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid $light-black;
  font-weight: normal;
  padding: 6px 25px 6px 6px;
  font-size: 16px;
  color: $light-black;

  &:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
  }

  &:focus {
    outline: none;
  }
}

.input{
  width: 100%;
  position: relative;

  // Floating label
  label {
    transition: all 0.25s ease-out;
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-weight: 500;
    z-index: -1;

    &.floating {
      bottom: 33px;
      font-size: 12px;
    }
  }

  input {
    @extend %input-style;
  }

  &.error {
    input {
      border-bottom-color: $orange;
    }

    label {
      color: $orange;
    }
  }
  &.none {
    input {
      border-bottom-color: $link-color;
    }

    label {
      color: $link-color;
    }
  }
  &.success {
    input {
      border-bottom-color: $primary;
    }

    label {
      color: $primary;
    }
  }

  select {
    @extend %input-style;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
  }
}