@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.no-info {
  span {
    &:nth-child(2) {
      color: $light-gray;
    }
  }
}

a.no-info {
  color: $light-gray;
}

.profile-info {
  @extend %centerHorizontallyFlex;
  position: relative;
  flex-direction: column;
  padding: 18px 24px 10px;
  max-width: 570px;
  min-height: 381px;

  &__public {
    margin-top: 15px;

    ul {
      display: grid;
      grid-template-columns: 275px 275px;
      grid-template-rows: 1fr 1fr;

      li {
        margin-top: 10px;
        &:nth-child(1) {
          grid-row: 1;
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-row: 2;
          grid-column: 1;
        }

        &:nth-child(3) {
          grid-row: 1;
          grid-column: 2;
        }
      }
    }
  }
}

.profile__social {
  &-links {
    margin: 0;

    li {
      margin-top: 10px;

      .fa {
        display: inline-block;
        text-align: center;
        width: 40px;
      }
    }
  }

  &-title {
    font-weight: 500;
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .profile-info {
    max-width: initial;

    &__fullname {
      font-size: 20px;
    }

    &__public {
      margin-top: 0;

      ul {
        display: flex;
        flex-direction: column;
      }
    }

    &__list {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      margin-top: 30px;
    }

    &__count {
      margin: 0 !important;
      padding: 10px 0;

      &:nth-child(-n+2) {
        border-bottom: 1px solid $border-color;
      }

      &:nth-child(3) {
        border-left: 0 !important;
      }
    }
  }
}