@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.bubble-icon {
  position: relative;
  @extend %centerFlex;
  flex-shrink: 0;
  border-radius: 50%;
  
  &__text {
    width: max-content;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .fa {
    font-size: 36px;
  }
}