@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

@media (max-width: 500px) {
	.IndexNewsBlock
	{
		height: unset!important;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.IndexNewsBlock__body
	{
		margin-top: 10px!important;
	}
	.IndexNewsBlock__body__title
	{
		margin-bottom: 40px;
	}
	.IndexNewsBlock__body__More
	{
		left: 60%!important;
	}
}





.IndexNewsBlock {
	height: 96px;
	display: flex;
	padding-top: 20px;
	border-bottom: 1px solid $grey;

	&__image {
		margin-left: 10px;
    padding: 0 5px 5px;

    &__img {
			width: 100px;
			object-fit: cover;
			height: 65px;
		}
	}

	&__body {
		margin-top: -5px;
		position: relative;
		margin-left: 15px;
		width: 100%;
		padding: 5px;

		&__title {
			font-size: 14px;
			padding-right: 10px;
		}

		&__date {
			position: absolute;
			top: 75%;
			display: flex;
			
			&__time {
				font-size: 10px;
				margin-right: 10px;
				color: $grey;
			}

			&__dat {
				font-size: 10px;
				color: $grey;
			}
		}

		&__More {
			@include topLeft(65%, 70%);
			position: absolute;

			a {
				text-decoration: underline;
				font-size: 14px;
				margin-top: -10px;
				color: $primary;
			}
		}
	}
}