@import "../../Styles/common/mixin";
@import "../../Styles/common/color";
.comments {
  @include size(50px, 40px);
  @extend %centerFlex;
  position: absolute;
  right: 15px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  color: $light-gray;

  .fa {
    margin-right: 5px;
    display: block;
    color: $light-gray;
  }
}