@import "../../Styles/common/color";
.AddConsultation
{
  &__Type__header
  {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
  }
  &__Type__Input
  {
    border: 1px solid $border-color-2;
    margin-bottom: 30px;
    select
    {
      border: none;
    }
  }
  &__Type__TextArea
  {
    margin: 0 auto;

    width: 80%;
    height: 120px;
  }
  &__Type__down
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .AddConsultation__Type__TextArea
    {
      border: 1px solid;
    }
    .AddConsultation__Type__header
    {
      padding-left: 45px;
    }
  }
  &__Type__Button
  {
    width: 100%;
    margin-top: 15px;
    height: 30px;
  }
}