@import "../../Styles/common/color";

.HeaderDrop {
  padding-top: 0px;
  position: absolute;
  margin-top: 5px;
  z-index: 13;
  margin-left: -30px;

  .slide-menu {
    position: relative;
    max-width: 270px;
    padding: 26px 24px;
    margin-top: 0;
    display: block;

    &__title {
      padding-top: 30px;
      border-top: 1px solid $border-color;
    }

    &__nav {
      margin: 0;
    }

    li {
      padding-right: 0 !important;
      width: 175px;

      &:nth-child(n+2) {
        margin-top: 25px;
      }

      &.item {
        &--active {
          a > span, .fa {
            color: $primary;
          }
        }

        &:hover {
          span {
            color: $primary;
          }
        }
      }

      span {
        transition: all 0.2s ease-out;
        color: $link-color;
        font-size: 16px;
      }
    }

    &__notification-count {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.HeaderDrop__slide {
	flex-direction: initial !important;

	&__card {
		border: none;
		box-shadow: none !important;
	}
}
