@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';

.treatment-steps {
  @extend %centerVerticallyFlex;
  flex-direction: column;

  &__back {
    cursor: pointer;
  }

  &__list {
    li {
      margin: 10px 0;

      button {
        @include size(200px, 25px);
        margin-left: 25px;
      }

      .fa-check {
        color: $primary;
        margin-left: 25px;
      }
    }
  }

  &__update {
    @include size(220px, 30px);
    margin-top: 25px;
  }
}