@import '../../Styles/common/color';

.profile-info__list {
  border-top: 1px solid $border-color;
  margin-top: 55px;
  padding-left: 0;
  display: flex;
  justify-content: center;

  li {
    min-width: 132px;
    display: inline-block;
    margin: 10px 0;

    &:nth-child(n+2) {
      border-left: 1px solid $border-color;
    }
  }
}