@import "../../../Styles/common/mixin";
@import "../../../Styles/common/color";

@media (max-width: 560px){
  .Subject  {
    transition: 0.45s all ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__header    {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &__EndBlock    {
      display: none!important;
    }
    &__LModified    {
      margin-top: 30px;
    }

  }
}

.Subject{
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 10px;
  &__image  {
      font-size: 36px;
    color: $border-color-2;
  }
  &__header  {
    margin-left: 15px;
    width: 300px;
    &__header    {
      margin-top: 10px;
      margin-bottom: 15px;
      font-weight: 500;
    }
    &__str    {
      &__link      {
        margin-right: 5px;
        font-size: 14px;
        transition: 0.9ms all ease-in-out;
        &:hover        {
          color: $primary;
        }

      }
    }
  }
  &__EndBlock  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: 0;
    span
    {
      margin-right: 0!important;
    }
    p
    {
      margin: 0;
    }
  }
  &__LModified  {
    position: absolute;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image
    {
      @include box(55px);
      border: 1px solid transparent;
      border-radius: 10px;
      object-fit: cover;
    }
    &__block {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      p {
        margin: 0;
      }
      &__date
      {
        font-size: 14px;
        color: $border-color-2;
      }
    }
  }
  &:hover  {
    background: #f3f3f3;

  }
}