@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.logo {
  @extend %centerFlex;
  margin-top: 4px;

	img {
		@include box(48px);
	}

  &__text {
    .logo__title {
      font-family: Intro, sans-serif;
      font-size: 22px;
      letter-spacing: 3.7px;
      text-transform: uppercase;
    }

    .logo__description {
      font-size: 10px;
      font-weight: 500;
    }
  }

  &--primary {
    .logo {
      &__text {
        margin-left: 10px;

        .logo__title, .logo__description {
          color: $primary;
        }
      }
    }
  }

  &--white {
    .logo {
      &__text {
        margin-left: 10px;

        .logo__title, .logo__description {
          color: white;
        }
    	}
    }
  }
}
