@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.radio-button {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__container {
    @include box(100%);
    @include topLeft(0, 0);
    position: absolute;
    background-color: transparent;
    transition: all 0.15s ease-out;
    z-index: -1;
    text-align: center;
    border: 1px solid $border-color-2;
  }

  &__value {
    color: $light-gray;
  }

  &:hover input ~ &__container {
    background-color: $border-color;
  }

  & input:checked ~ &__container {
    background-color: $primary;
    border: 1px solid $primary;
  }

  & input:checked ~ &__value {
    color: white !important;
  }
}
