@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';

.qa-specialist {
  margin-top: 25px;

  &__header {
    background: $primary;
    color: white;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    padding: 7px 10px;
  }

  &__content {
    background: #ebebeb;
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }
}