@import "../../Styles/common/color";

@media (max-width: 767px) {
  .ForumItem__header  {
    height: unset!important;
    display: flex;
    justify-content: center;
    text-align: center!important;
  }
}

.ForumItem{
  &__header
  {
    font-weight: 500;
    height: 30px;
    background: $primary;
    color: White;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

}
.CommitForumItem__image{
  object-fit: cover;
}