@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.footer {
  position: relative;
  background: $primary;
  margin-top: 135px;
  box-shadow: 0px -8px 10px 0 rgba(0, 0, 0, 0.14);
  z-index: 2;

  &--auth-page {
    margin-top: 0;
  }

  &__logo, &__logo-column {
    @extend %centerFlex;
  }
  &__sponsor {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px 0;
    background-color: $primary;

    &-logo {
      max-width: 80px;
      margin: 0 10px 0 0;
    }

    &-text {
      color: #fff;
    }
  }

  &__info {
    max-width: 520px;
    padding: 15px;
  }

  &__address {
    font-size: 12px;
    color: #fff;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .footer {
    &__logo-column {
      // margin-top: 10px;
      // margin-bottom: 25px;
    }

    &__sponsor,
    &__link {
      flex-direction: column;
      align-items: center;
    }

    &__link,
    &__address, {
      text-align: center;
    }

    &__sponsor-logo {
      margin: 0 0 8px 0;
    }
  }
}

@media (max-width: 585px) {
  .footer {
    &__nav-item {
      padding: 0 15px;
    }
  }
}

@media (max-width: 540px) {
  .footer {
    &__nav {
      flex-direction: column;
      align-items: center;

      &-item {
        &:nth-child(n+2) {
          margin-top: 20px;
        }
      }
    }
  }
}