.WikiPost {
  display: flex;

  &__header {
    text-align: center;
  }

  &__text {
    padding-left: 40px;
    text-align: justify;
  }
}

.WikiPost__Left {
  width: 550px;
  padding-right: 30px;
}

.WikiPost__image {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.WikiPost__block {
  margin-top: 20px;
  width: 170px;
  padding-right: 20px;
}

.WikiPost__header {
  padding-left: 30px;
}