@import "../../Styles/common/mixin";

.profile {
  &__form {
    height: 35px;
    margin: 28px 40px;
    cursor: pointer;
  }

  &__avatar {
    @include size(100%, 280px);
    object-fit: cover;
  }

  &__picture-block {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    padding-bottom: 7px;
  }

  &__left {
    display: flex;
  }

  &-picture {
    &__actions {
      @extend %centerVerticallyFlex;
      flex-direction: column;

      button {
        @include size(190px, 25px);
        font-size: 14px;
        margin-top: 15px;

        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}