@import "../../../Styles/common/color";
.ForumItem
{
  &__header
  {
    height: 30px;
    background: $primary;
    color: White;
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

}