@import '../../../../Styles/common/mixin';

.treatment-doctor {
  @extend %centerFlex;
  flex-direction: column;

  .treatment-specialist--not-friend {
    margin-left: 0;
  }

  &__avatar {

  }

  &__user {
    &-info {
      margin-top: 10px;
    }

    &-fullName {
      margin-top: 0;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 5px;
    }
  }

  &__choose {
    @include size(250px, 25px);
    margin-top: 15px;
  }
}