@import "../../../Styles/common/color";
@import "../TreatmentSpecialistWork";
@media  (max-width: 600px) {
  .TretmantSpecialistWork__Item__row{
    display: flex;
    flex-direction: column;
    h2{
      margin-top: 5px;
    }
  }

}
.TretmantSpecialistWork__Item{
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px solid $border-color;

  &__row  {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    align-items: center;
    &__avatar{
      margin-right: 20px  ;
    }
    &__header{
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      transition: all 0.35s ease-in-out;
      &:hover{
        color: $primary;
      }
    }
  }
  &__row__2{
    position: absolute;
    right: 10px;
    button{
      width: 100px;
    }
  }
}