@import '../../Styles/common/color';

.button {
  cursor: pointer;
  transition: all 0.35s ease-out;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  text-align: center;
  
  &--disabled {
    cursor: not-allowed;
    background: $grey;
    color: white;
  }

  &--gray {
    color: $light-black;
    border: 1px solid $light-black;

    &:hover {
      color: white;
      background: $light-black;
    }
  }

  &--light-gray {
    color: $light-black;
    border: 1px solid #9da1a7;

    &:hover {
      color: white;
      background: #9da1a7;
    }
  }

  &--primary {
    background: $primary;
    color: white;
    border-radius: 0;

    span {
      color: white;
    }

    &-small-round {
      border-radius: 4px;
      background: $primary;
      color: white;

      span {
        color: white;
      }
    }
  }

  &--rounded {
    border-radius: 35px;
  }

  &--orange-ghost {
    background: $orange;
    border: 1px solid $orange;
    color: white;

    &:hover {
      background: transparent;
      color: $orange;
    }
  }

  &--gray-ghost {
    background: $light-gray;
    border: 1px solid $light-gray;
    color: white;

    &:hover {
      background: transparent;
      color: $light-gray;
    }
  }

  &--primary-ghost {
    background: $primary;
    border: 1px solid $primary;
    color: white;

    &:hover {
      background: transparent;
      color: $primary;
    }
  }

  &:focus {
    outline: none !important;
  }
}
