@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.profile-edit__documents {
  position: relative;
  @extend %centerFlex;
  @include maxSize(230px, 230px);
  min-height: 230px;
  min-width: 230px;
  margin-left: 20px;

  &:nth-child(3n + 1) {
    margin-left: 0;
  }

  &:nth-child(n+4) {
    margin-top: 20px;
  }

  &--verified::after,
  &--verified::before,
  &--unverified::after,
  &--unverified::before,
  &--canceled::after,
  &--canceled::before
  {
    position: absolute;
  }

  &--verified:after {
    content: url('/img/icons/checked.svg');
    z-index: 2;
  }

  &--verified:before {
    @include box(100%);
    content: '';
    background: $primary;
    opacity: 0.4;
    z-index: 1;
  }

  &--unverified::after {
    content: 'Верификация еще не пройдена';
    left: 0;
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 500;
  }

  &--unverified::before {
    @include box(100%);
    content: '';
    background: $light-black;
    opacity: 0.4;
    z-index: 1;
  }

  &--canceled::after {
    content: 'Отклонено';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    font-weight: 500;
  }

  &--canceled::before {
    @include box(100%);
    content: '';
    background: $orange;
    opacity: 0.6;
    z-index: 1;
  }

  img {
    @include maxSize(230px, 230px);
    min-height: 230px;
    object-fit: cover;
  }
}