@import '../../Styles/common/color';

.card {
  background: white;
  box-shadow: 0 1px 4px 0 $shadow-color;

  &--default {
    box-shadow: 0 1px 4px 0 $shadow-color;
  }

  &--no-shadow {
    box-shadow: 0 0 0 0 black;
    border: 1px solid rgba(60, 68, 80, 0.1);
  }

  &--blured {
    box-shadow: 0 2px 24px 0 rgba(157, 161, 167, 0.5);
  }

  &__empty-title {
    text-align: center;
    font-weight: 500;
  }
}