@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.JobsPromo{
  position: relative;
  display: flex;
  justify-content: center;

  &__bubbles {
    display: flex;
  }

  &__bubble {
    cursor: pointer;
    @include box(70px);
    transition: all 0.15s ease-out;

    &:nth-child(n+2) {
      margin-left: 100px;
    }

    > div {
      color: white;
    }

    .fa {
      transition: all 0.15s ease-out;
      font-size: 24px;
    }

    &:hover {
      background: $gray !important;

      .fa {
        color: $light-black !important;
      }
    }
  }

  &__image  {
    &__img    {
      height: 200px;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  &__text  {
    @extend %centerFlex;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;

    &__header {
      color: white;
      margin-bottom: 15px;

      &__number {
        margin-left: 1px;
        color: white;
      }
    }

    &__button {
      cursor: pointer;
      width: 70%;
      background: transparent;
      color: white;
      font-size: 18px;
      border: 1px solid white;
      border-radius: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: all 0.3s;

      &:focus {
        outline: none;
      }

      &:hover {
        background: white;
        transition: all 0.25s ease-out;
        color: $light-black;
      }
    }
  }
}