@import "../../../Styles/common/color";
@import "../../../Styles/common/mixin";

@media (max-width: 1536px){
  .user-item__documents  {
    position: relative;
    left: 5%;
  }
}

@media (max-width:1239px) {
  .user-item__documents-container  {
    margin-left: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 45px!important;
  }
  .user-item__role {
    margin-bottom: 30px!important;
  }
  .user-item {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;

    &__actions {
      right: unset!important;
      top: unset!important;
      position: relative!important;
      display: flex!important;
      flex-direction: row-reverse!important;

      button {
        margin: 10px;
      }
    }

    &__documents  {

      &-header {
        display: flex;
        justify-content: center;
      }

      img {
        margin: 0 auto;
        padding: 15px;
      }
    }
  }
  .user-item__info
  {
    margin-top: 10px;
    padding-left: 0!important;
  }
}

@media (max-width:991px) {
  .user-item {
    &__documents  {
      display: flex;
      justify-content: center;
      flex-direction: column;

      img {
        margin: 10px auto;
      }
    }
  }
  .user-item__role  {
    text-align: center;
  }
  .user-item__documents-container  {
    padding-left: 0!important;
  }
}

@media (max-width:720px) {
  .user-item__actions  {
    margin-top: 40px;
    display: flex!important;
    flex-direction: column!important;
    button{
      margin-top: 0;
      padding: 5px;
      height: auto;
      margin-bottom: 5px;
    }
  }
  .user-item__info  {
    padding-left: 0;
  }
}

@media (max-width:525px) {
  .user-item__info  {
    display: flex;
    justify-content: center;
    flex-direction: column;

    a {
      text-align: center;
    }
  }
  .user-item__documents  {
    position: relative;
    left: 0!important;
  }
}

.user-item {
  display: flex;
  position: relative;
  padding: 20px;
  border-bottom: 1px solid $border-color;

  &__edit {
    &-role {
      position: absolute;
      display: none;
      top: 27px;

      &--visible {
        display: flex;
      }

      .fa {
        cursor: pointer;
        
        &-check {
          color: $primary;
          margin-left: 15px;
        }

        &-times {
          color: $orange;
          margin-left: 5px;
        }
      }
    }
  }

  &__roles {

  }

  &__role-change {
    position: absolute;
    font-size: 9px;
    top: -5px;
    right: -10px;
    color: $border-color-2;
    transition: all 0.15s ease-out;
  }

  &__info  {
    padding-left: 15px;
    font-size: 16px;

    a    {
      transition:  all 0.15s ease-out;
      &:hover      {
        color: $primary;

      }
    }
  }

  &__role {
    cursor: pointer;
    position: relative;
    width: fit-content;
    font-size: 14px;
    margin-top: 10px;
    color: $light-gray;
    margin-bottom: 20px;
    transition: all 0.15s ease-out;
    display: none;

    &--visible {
      display: block;
    }

    &:hover {
      color: $light-black;

      & > .user-item__role-change {
        color: $light-black;
      }
    }
  }

  &__full-name {
    position: relative;
    margin-bottom: 0;
    
    > span {
      cursor: pointer;
      transition: all 0.25s ease-out;

      &:hover {
        color: $primary;
      }
    }
  }

  &__full-name-ConfirmedNone {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: -35px;
  }

  &__avatar {
    @include box(60px);
    flex-shrink: 0;
  }

  &__actions  {
    @include topRight(50%, 35px);
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);

    &--not-confirm {
      @include topRight(20px, 35px);
      transform: initial;
    }

    button {
      @include size(200px, 25px);
      margin-top: 10px;
      font-size: 14px;
    }
  }

  &__documents {
    &-container {
      margin-top: 90px;
      margin-left: -133px;
    }

    &-header  {
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: 22px;
      font-weight: 500;
      text-align: center;
    }

    img {
      @include box(200px);
      margin-left: 10px;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid $border-color-2;
      cursor: pointer;
      object-fit: cover;
    }
  }
}

.Modal__src {
  width: 300px;

  &__UserItem {
    width: 600px;
    object-fit: cover;
  }
}

.Modal__src__downloads {
  margin-top: 10px;
  position: relative;
  left: 0;
  color: $primary;
  cursor: pointer;

  span{
    color: $primary;
    margin-right: 10px;
  }
}
.ForumUserItem{
  position: absolute !important;
  background: white !important;
}