@import '../../Styles/common/color';

.input--simple {
  position: relative;

  &__label {
    font-size: 16px;
    color: $light-black;

    &--horizontal {
      display: inline-block;
    }

    &--vertical {
      display: block;
    }
  }

  input, textarea {
    border: 1px solid $border-color-2;
    color: $light-gray;
    font-size: 14px;
    padding: 8px 15px;
    background: transparent;

    &:focus {
      outline: none;
    }

    &.light {
      border: 1px solid $border-color;
    }
  }

  textarea {
    resize: none;
    line-height: 1.5;
  }

  &__only-num-label {
    position: absolute;
    right: 15px;
    top: 70%;
    transform: translateY(-50%);
  }
}
