@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.last-message {
  cursor: pointer;
  display: flex;
  padding: 15px;
  transition: all 0.15s ease-out;

  &:nth-child(n+2) {
    border-top: 1px solid $border-color-2;
  }

  &:last-child {
    border-bottom: 1px solid $border-color-2;
  }

  &:hover {
    background: #f5f5f5;
  }

  &__image {
    @include box(48px);
    border-radius: 50%;
    object-fit: cover;
  }

  &__user {
    width: 175px;
    margin-left: 10px;
  }

  &__full-name {
    font-size: 14px;
    color: $light-black;
    font-weight: 500;
  }

  &__date-ago {
    font-size: 14px;
    color: $light-gray;
    margin-top: 7px;
  }

  &__text {
    max-width: 800px;
    font-size: 14px;
    font-weight: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
  }
}