@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

.post-comment {
  position: relative;
  display: flex;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-color;

  &:nth-child(n+2) {
    margin-top: 15px;
  }

  &__user {

  }

  &__avatar {
    @include box(40px);
  }

  &__full-name {
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    color: $primary;
  }

  &__text {
    @include topLeft(22px, 52px);
    position: absolute;
    font-size: 14px;
  }

  &__date {
    position: absolute;
    left: 52px;
    bottom: 5px;
    color: $light-gray;
    font-size: 12px;
  }
}