@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';

.question-details {
  &__comment {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;

    img {
      @include box(30px);
    }

    &-header {
      @extend %centerVerticallyFlex;
    }

    &-date {
      color: $border-color-2;
      margin-left: 15px;
      font-size: 12px;
    }

    &-text {
      margin-left: 40px;
      margin-top: 10px;
    }
  }

  &__fullname {
    margin-left: 10px;
    color: $primary;
  }
}