@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.checkbox {
  &__container {
    cursor: pointer;
    position: relative;
    user-select: none;
    padding-left: 25px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkbox__custom {
        background-color: $primary;
      }
    }

    &:hover input:not(:checked) ~ .checkbox__custom {
      background-color: #ccc;
    }
  }

  &__custom {
    @include topLeft(3px, 0);
    @include box(15px);
    position: absolute;
    border-radius: 4px;
    background-color: #eee;
    transition: all 0.15s ease-out;
  }
}