@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.profile-tips {
  justify-content: space-around;

  &__item {
    display: flex;
    align-items: center;

    > div {
      &:nth-child(2) {
        max-width: 202px;
        margin-left: 16px;
      }
    }

    &:nth-child(n+2) {
      padding-left: 20px;
      border-left: 1px solid rgba(60, 68, 80, 0.1)
    }

    &:first-child {
      margin-left: 16px;
    }
  }

  &__circle {
    @include box(72px);
    @extend %centerFlex;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid $primary;
    background: #EFFBFA;

    .fa {
      font-size: 36px;
      color: $primary;
    }
  }

  &__title {
    font-weight: normal;
    font-size: 16px;
    display: block;
  }

  &__description {
    font-size: 12px;
    display: block;
    margin-top: 5px;
  }

  &__act {
    color: $primary;
    margin-top: 5px;
    display: block;
  }
}