@import '../../../Styles/common/color';
@import '../../../Styles/common/mixin';

.summary__language-item {
  position: relative;

  .fa {
    cursor: pointer;
    position: absolute;
    display: none;
    color: $orange;
    top: 5px;
    right: -60px;
  }

  &:nth-child(n+4) {
    .fa {
      display: block;
    }
  }
}