@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';
@import '../../../../node_modules/loaders.css/src/animations/ball-pulse.scss';

.loader-hidden {
  display: none;

}
.loader-active {
  display: block;

}
$primary-color: $primary;
.loader-inner
{
  div{
    background: $primary;
  }
}
.forum {
  &-structure__actions {
    cursor: pointer;
    color: $border-color-2;
    transition: all 0.25s ease-out;

    &:nth-child(1) {
      margin-right: 15px;

      &:hover {
        color: $primary;
      }
    }

    &-add {
      &--hidden {
        display: none;
      }
    }

    &:nth-child(2) {
      &:hover {
        color: $orange;
      }
    }
  }
}
.ForumConsultation__modal
{
  align-items: center!important;
  &__card  {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    max-width: 800px;
    position: relative;
    &__close    {
      position: absolute;
      top: 20px;
      right: 15px;
      cursor: pointer;
      z-index: 10;
    }
    &__header    {
      font-weight: 500;
      font-size: 18px;
    }
    &__content {
      margin-top: 10px;
      display: flex;
      align-items: center;
      p {
        margin: 0;
        margin-top: -3px;
        padding-right: 20px;
      }
      .dialog__send      {
        margin-top: -4px;
      }
    }
    &__Delete{
      width: 500px;
      &__header      {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
      }
      &__BtBlock
      {
        display: flex;
        justify-content: center;
        align-items: center; margin-top: -10px;
        margin-bottom: 10px;
        &__button
        {
          margin:10px;
          padding-right: 10px;
        }
      }
    }
  }
}
.ForumDownloader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    color: White;
  }
}
.forum__add-subtheme{
  position: unset!important;
  left: 0!important;
  width: 100%;
  height: 30px;
}