@import "../../Styles/common/mixin";
@import "../../Styles/common/color";

.TreatmenComment {
  min-height: 600px;
  .dropdown {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  &__Dropdown {
    text-align: center;
    width: 100%;

    &__content {
      display: none;
      width: 100%;

      &__block {
        cursor: pointer;
        display: flex;
        padding: 10px 20px;
        border-bottom: 1px solid $border-color;
        transition: all 0.35s ease-in-out;

        &__image {
          @include size(42px,42px);
          object-fit: cover;
          border: 1px solid $border-color;
        }

        &__content {
          @extend %centerFlex;
          flex-direction: column;

          &__name {
            margin-top: 0;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 5px;
          }

          &__noneFrendly {
            font-size: 14px;
            color: $orange;

            span {
              color: $orange;
              margin-right: 4px;
            }
          }
        }

        &:hover {
          background: $primary;
        }
      }
    }

    a {
      cursor: pointer;
      span {
        font-size: 14px;
      }
    }
  }

  &__Messenger {
    &__image {
      @include box(48px);
    }

    &__Add {
      &__block {
        display: block;
        padding: 20px 0;

        &__row {
          padding-left: 100px;
          position: relative;
          padding-right: 40px;

          span {
            position: absolute;
            right: 0;
            top: 30%;
            margin-left: 30px;
            font-size: 20px;
            color: $primary;
          }

          button {
            width: 190px;
            margin-left: 25px;
          }
        }
      }
    }

    &__Cancel {
      margin-left: 10px;
      margin-top: 20px;
      font-size: 18px;

      span {
        margin-right: 3px;
      }
    }

    &__img {
      @extend %centerFlex;
      flex-direction: column;
    }
  }

  &__Commenting {
    &__block {
      position: relative;
      height: 60px;
      border-bottom: 1px solid $border-color;

      &__text {
        position: absolute;
        top: 20px;
        left: 35%;

        &__href {
          transition: all 0.35s ease-in-out;
          cursor: pointer;
          
          &:hover {
            color: $primary;
          }
        }
      }
    }

    &__comments {
      min-height: 620px;
      max-height: 800px;
      padding: 20px 0;
      overflow: auto;
    }

    &__Addcomments {
      margin-top: 20px;
      padding: 0 25px;

      textarea {
        width: 100%;
      }

      button {
       width: 100%;
      }
    }
  }

  &__user {
    &-link {
      display: block;
      text-align: center;
      line-height: 60px;
    }

    &-avatar {
      position: absolute;
      right: 25px;
      top: 5px;
    }
  }
}



.dropdown__trigger {
  font-size: 20px;
  font-weight: 500;
}

.dropdown__content {
  position: relative;
}