@import "../../Styles/common/color";

@media (max-width: 991px){
  .VacancySmall--flex  {
    display: unset!important;
  }

  .VacancySmall__Right  {
   position: unset!important;
    right: 0;
    margin-top: 0;
  }

  .VacancySmall  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .VacancySmall__money  {
    display: flex;
    justify-content: center;
  }

  .VacancySmall__header  {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 510px){
  .JobsPromo__text__header  {
    font-size: 18px;
  }
}

@media (max-width: 410px){
  .JobsPromo__text__header  {
    font-size: 14px;
  }
  .JobsPromo__text__button  {
    margin-top: 30px;
    font-size: 16px;
  }
}

.VacancySmall {
  margin-bottom: 10px;
  padding-top: 20px;
  border-top: 1px solid $border-color;

  &__Right {
    position: absolute;
    right: 0;
    margin-top: -5px;
  }

  &--flex {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__name {
    color: Gray;
    margin: 5px 0 0;
    font-size: 14px;
  }

  &__money {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: normal;
  }

  &__header {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }
}
