@import 'color';

@font-face {
  font-family: 'Intro';
	src: url('../../fonts/Intro.otf');
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $light-black;
}

body,
html {
  min-width: 320px;
  min-height: 480px;
}

body,
html,
#root,
.App {
  height: 100%;
}
