@import '../../Styles/common/mixin';

.reset-password {
	&__card {
    z-index: 1;
  }

	&__form {
		padding: 0 30px;

		&__field {
			margin-bottom: 20px;
		}

		&__submit {
			display: flex;
			height: 45px;
			padding: 0 15px;
			margin: 0 auto 15px;
		}

		&__message {
			margin: 0px 0px 50px;
			font-size: 14px;
		}
	}

	&__column {
		@extend %centerVerticallyFlex;
	}
}

@media (max-width: 767px) {
  .reset-password {
    &__card {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .reset-password {
    &__form {

      &__field {
        label {
          font-size: 12px;
        }
      }

      &__submit {
        height: 30px;
      }
    }
  }
}

