.TreatmentSpecialistWork {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 550px) {
  .TretmantSpecialistWork__Item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  .TretmantSpecialistWork__Item__row__2{
    position: relative;
    button{width: 200px;height: 25px;margin-left: 25px}
    .TretmantSpecialistWork__Item__row{
      display: flex!important;
      flex-direction: column!important;
    }
  }
}