@import '../../Styles/common/mixin';

.shapes {
	@include box(100%);
	position: absolute;
	z-index: 1;
}

.shape {
	position: absolute;
	z-index: -2;

	&__1 {
		@include box(40px);
		@include topLeft(280px, 200px);
	}

	&__2 {
		@include size(300px, 315px);
		@include bottomLeft(10px, 300px);
	}

	&__3 {
		@include size(221px, 395px);
		@include bottomLeft(7px, -3px);
	}

	&__4 {
		@include size(604px, 415px);
		@include topRight(-5px, 0px);
	}

	&__5 {
		@include box(70px);
		@include topLeft(150px, 90px);
	}
}

@media (max-width: 991px) {
  .shapes {
    height: 98%;
  }

	.shape {
		&__1 {
			@include box(40px);
			@include topLeft(280px, 200px);
		}

		&__2 {
			@include size(240px, 250px);
			@include bottomLeft(-35px, 300px);
		}

		&__3 {
			@include size(165px, 462px);
			@include bottomLeft(-35px, 0);
		}

		&__4 {
			@include size(400px, 415px);
			@include topRight(-70px, 0px);
		}

		&__5 {
			@include box(70px);
			@include topLeft(150px, 90px);
		}
	}
}

@media (max-width: 767px) {
  .shape {
    &__3 {
      @include size(165px, 250px);
      @include bottomLeft(-10px, -15px);
    }

    &__2 {
      bottom: -13px;
    }
  }
}

@media (max-width: 570px) {
  .shape {
    &__1 {
      @include box(40px);
      @include topLeft(100px, 200px);
    }

    &__2 {
      display: none;
    }

    &__3 {
      @include size(165px, 250px);
      @include bottomLeft(-35px, -15px);
    }

    &__4 {
      @include size(250px, 415px);
      @include topRight(-122px, 0px);
    }

    &__5 {
      @include box(70px);
      @include topLeft(50px, 90px);
    }
  }
}

@media (max-width: 410px) {
  .shape {
    &__1 {
      display: none;
    }

    &__5 {
      display: none;
    }
  }
}