@import '../../../Styles/common/color';
@import '../../../Styles/common/mixin';

.post_picture__row {
	display: flex;
	flex-direction: column;
}

.position__image {
  @include size(154px, 105px);
	object-fit: cover;
	margin-top: 10px;

	&__5 {
		padding-right: 10px;
		height: 220px;
		object-fit: cover;
		margin-top: 10px;
		margin-left: -10px;
	}

  &__6 {
    @include size(100%, 220px);
		padding-right: 10px;
		object-fit: cover;
		margin-top: 10px;
		margin-left: -10px;
		filter: brightness(0.5);
	}
}

.position__image_four {
	width: 100%;
	margin-top: 15px;
}

.post_picture_Right {
	margin-left: -15px;
}

.position__image_three {
  @include size(100%, 105px);
	margin-top: 10px;
	object-fit: cover;
}

.position__image_two {
	width: 100%;
	margin-top: 10px;
	object-fit: cover;
}

.position__image_one {
	object-fit: cover;
	width: 100%;
}

.position__relative {
  @extend %centerFlex;
	position: relative;
}

.position__number {
	position: absolute;
  margin: 0 auto 0 -10px;

  &__cell {
		color: White;
		font-size: 24px;
    font-weight: bold;
	}
}