@import '../../../Styles/common/mixin';
@import '../../../Styles/common/color';

.treatment-specialist {
  cursor: pointer;
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid $border-color;
  transition: all 0.15s ease-out;

  &:hover {
    background: #F5F5F5;
  }

  &__avatar {
    @include size(42px,42px);
    object-fit: cover;
  }

  &__user {
    &-info {
      margin-left: 15px;
    }

    &-fullName {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
    }
  }
}