@import "../../Styles/common/mixin";
@import "../../Styles/common/color";

.entry {
  position: relative;
  padding: 15px 15px 15px 20px;
  margin-top: 10px;

  &__header {
    position: relative;
  }

  &__avatar {
    align-self: center;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 10px;
  }

  &__information {
    display: inline-block;
    vertical-align: top;
  }

  &__full-name {
    font-size: 16px;

    span {
      color: $light-gray;
      margin-left: 5px;
      font-size: 14px;
    }
  }

  &__date-ago {
    font-size: 14px;
    color: $light-gray;
    margin-top: 3px;
  }

  // Ellipsis (additional actions on post)
  .fa-ellipsis-h {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0;
    color: $light-gray;
  }

  &__content {
    line-height: 1.57;
    margin-top: 10px;
    font-size: 14px;
  }

  &__footer {
    border-top: 1px solid $border-color;
    display: flex;
    margin-top: 15px;
    padding: 10px 25px;

    p {
      cursor: pointer;
      color: $light-gray;
      margin: 0 0 0 10px;
      font-size: 14px;
    }
  }

  .fa-comment {
    color: $light-gray;
    font-size: 14px;
  }
}

.ReactModalPortal:not(:empty) {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .fa-times {
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 25px;
    color: $light-gray;
    transition: all 0.15s ease-out;

    &:hover {
      color: $primary;
    }
  }
}

.entry__block__menu {
  transition: all 0.15s ease-out;
  padding: 2px 10px;
  box-shadow: 0 2px 4px 1px rgba(157, 161, 167, 0.5);
  position: absolute;
  background: white;
  top: 20px;
  right: 20px;

  p {
    cursor: pointer;
    margin: 10px 5px;
    transition: all 0.15s ease-out;

    &:hover {
      color: $primary;
    }
  }
}

.none-block {
  display: none!important;
}