@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.PostDetalis__button {
  margin-top: 10px;
  width: 100%;
}

.post-details__comet {
  position: relative;
  width: 300px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}

.ComentPost__post__name {
  color: black!important;
}

.post-details__content {
  margin-top: -30px!important;
}

.post-details {
  padding: 5px;

  &__coment-big  {
    padding: 15px 0;
    height: 100%;
    overflow-y: scroll;
  }

  &__newcoment{
    margin-top: 10px;
    padding: 15px 5px;

    &-flex    {
      display: flex;

      #about {
        margin-left: 10px;
        width: 94%;
      }
    }
  }

  &__text  {
    border-bottom: 1px solid $border-color;
    padding: 10px 0;
  }

  &__header {
    display: flex;
  }

  &__avatar {

  }

  &__user {
    margin-top: 5px;
    margin-left: 10px;
  }

  &__name {
    color: $primary;
    font-weight: 500;
    font-size: 14px;
  }

  &__date {
    margin-top: 5px;
    font-size: 12px;
    color: $light-gray;
  }

  &__content {
    margin-top: 15px;

    img {
      display: block;
      margin: 25px auto 0;
      width: 100%;
      object-fit: cover;

      &:nth-child(n+2) {
        margin-top: 50px;
      }
    }
  }
}
.posting {
  @include box(40px);
  margin-right: 10px;
}

.post-detalis--all {
  width: 550px;
}

.post-details__newcoment-flex {
  .input--simple {
    width: 100%;

    textarea  {
      width: 98%;
    }
  }

  .input--simple__label .input--simple__label--horizontal {
    width: 100%;
  }
}
.post-details__newcoment{
  position: absolute;
  bottom: -80px;
  width: 100%;
}
.post-details__comet{
  min-height: 600px;
}
.post-details__coment-big
{
  max-height: 550px;
}