@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.tree-view_item {
  display: flex;

  div {
    &:hover {
      cursor:  pointer;

      .Wikistruct__Is {
        display: contents;
      }
    }
  }
}

.wiki-structure {
  &__label {
    min-width: 300px;

    &:hover {
      > .wiki-structure__actions {
        display: initial;
      }
    }
  }

  &__actions {
    display: none;
  }

  &__icon {
    font-size: 12px;
    margin-left: 5px;

    &--red {
      color: $orange;
    }

    &--green {
      color: $primary;
    }
  }

  &__item {
    cursor: pointer;

    &:hover {
      font-style: oblique;
    }
  }

  &__subtitle {
    font-weight: 500;
    display: inline-block;
    width: 180px;
  }

  &__field {
    @extend %centerVerticallyFlex;
    margin-top: 25px;
  }

  &__text {
    label {
      display: block;
      margin-bottom: 5px;
      margin-top: 25px;
      font-weight: 500;
    }

    textarea {
      width: 100%;
    }
  }

  &__type {
    margin-left: 51px;
  }

  &__About {
    display: flex;
    margin-top: 20px;

    label {
      font-weight: 500;
      text-align: center;
    }
  }

  &__image {
    @extend %centerFlex;
    margin-top: 25px;
    flex-direction: column;

    img {
      @include size(250px,250px);
      object-fit: cover;
    }

    input {
      margin-top: 15px;
    }
  }

  &__error {
    color: $orange;
  }

  &__add {
    &-header {
      position: relative;
      padding: 35px;

      .wiki-structure__subtitle {
        margin-bottom: 5px;
      }
    }

    &-button {
      @include size(100%, 30px);
      margin-top: 20px;
    }

    &-title {
      width: 470px;
      border: 1px solid $border-color-2;

      input {
        border-bottom: none;
        width: 466px;
      }
    }
  }
}

.tree-view_arrow {
  font-size: 22px
}

.tree-view_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
