@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.money-help {
  @include size(350px, 400px);
  @extend %centerVerticallyFlex;
  flex-direction: column;
  position: relative;


  &__image {
    position: absolute;
    top: -30px;
    background: transparent;
    box-shadow: 4px 8px 8px 0 rgba(157, 161, 167, 0.5);
    border-radius: 50%;
    z-index: 1;

    &__src {
      @include size(144px !important ,144px);
      border-radius: 80px;

    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.6;
    color: $light-black;
    text-align: center;
    font-weight: 500;
    margin-top: 145px;
    min-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__progress {
    display: flex;
    margin-top: 20px;
    font-family: 'Rubik'
  }

  &__left {
    padding-right: 25px;
    border-right: 1px solid $border-color;
    font-family: 'Rubik'
  }

  &__right {
    padding-left: 25px;
  }

  &__description {
    font-size: 14px;
    color: $light-black;
    font-family: 'Rubik'
  }

  &__cost {
    font-size: 16px;
    font-weight: 600;
    color: $light-black;
    margin-top: 15px;
    font-family: 'Rubik'
  }

  &__progress-bar {
    @include size(265px, 4px);
    margin-top: 35px;
    font-family: 'Rubik'
  }

  button {
    @include size(135px, 35px);
    margin-top: 35px;
    background: $gradient__button;
    font-family: 'Rubik'
  }
  & .MoneyHelp__carusel .owl-stage-outer
  {
        padding-left: 30px;
    margin-right: -65px;
  }
}
.MoneyHelp__carusel
{
  & .owl-nav
  {
    display: none;
  }
}