@import "../../../Styles/common/mixin";
@import "../../../Styles/common/color";

@media (max-width: 767px) {
  .CommitForumItem  {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__header{
      width: unset!important;
      margin-left: 0!important;
      margin-bottom: 40px!important;
      display: flex;
      text-align: center;
      flex-direction: column-reverse;
    }
    &__EndBlock    {
      position: relative!important;
      &__image{
        display: none!important;
      }
      &__block{
        display: none!important;
      }
    }
    &__CentralBlock__item{
      margin-right: 0!important;
    }
  }
};
@media (max-width: 480px) {
  .CommitForumItem__CentralBlock__item{
    display: unset!important;
  }
  .CommitForumItem__header__head
  {
    margin-top: 20px!important;
  }
}
.CommitForumItem{

  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid $border-color;
  &__image  {
    @include box(45px);
    border: 1px solid transparent;
    border-radius: 15px;
  }
  &__header  {
      width: 300px;
      margin-left: 10px;
      &__head      {
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0;

      }
      &__Author      {
        color: $border-color-2;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 12px;
        &__Auth
        {

        }
      }

  }
  &__CentralBlock {
    &__item {
      position: unset;
      margin-right: 10px;
    }
  }
  &__EndBlock  {
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    &__image    {
      @include box(40px);
      border-bottom: 1px solid transparent;
      border-radius: 10px;
      margin-right: 10px;
      object-fit: cover;
    }
    &__block{

      display: flex;
      flex-direction: column;
      p
      {
        padding: 2px;
      }
    &__Author    {
      margin: 0;
      font-size: 12px;
    }
    &__date    {
      margin-top: 0!important;
      font-size: 10px;
      color: $border-color-2;
    }
    }
  }

  &:hover  {
    background: #f3f3f3;
    cursor: pointer;
  }
}