@import '../Styles/common/color';
@import '../Styles/common/mixin';

@media (max-width: 653px) {
	.AboutTabList
	{
		.rwt__tablist
		{
		display: grid;
		}
		.About__header__support
		{
			height: 20px!important;
		}

	}
}
@media (max-width: 370px) {
	.About__header__support
	{
		top: 90px!important;
		right: 30% !important;
	}
	
}
@media (max-width: 468px) {
	.About__header__support
	{
		display: none;
	}

}
.About {
	&__header {
		display: flex;

		&__text {
			padding-left: 15px;
			font-size: 32px;
			font-weight: normal;
			line-height: 0.75;
			color: $light-black;
			margin-top: 45px;
		}

		&__support {
			position: absolute;
  		right: 30px;
			top: 50px;
  		bottom: 16px;
			color: $primary;
			font-size: 16px;
			color: #2ec4b6;
			cursor: pointer;
			height: 20px;

			&__image {
				@include size(24px, 13px);
			}
		}
	}

	&__all {
		margin-top: 30px;

		&__left {
			font-size: 16px;
			line-height: 2;
			text-align: left;
			color: $light-black;

			&__href_to_home {
				color: $primary;
			}

			&__header {
				font-weight: 700;
			}

			&__text {
				font-weight: 300;
				font-size: 16px;
				line-height: 2;
				text-align: left;
				color: $light-black;
			}
		}

		&__right {
			&__card {
				margin-top: 28px;
				padding: 54px;
				padding-top: 0px;
				padding-right: 13px;
			}

			&__header {
				margin: 0;
				font-size: 24px;
				line-height: 1.33;
				color: $light-black;
				margin-left: -26px;
				padding-top: 17px;
				padding-bottom: 11px;
			}

			&__list {
				list-style: unset;
				margin: 0px;

				&__item {
				  line-height: 1.33;
				  font-size: 16px;
				  color: $light-black;
				  margin-bottom: 5px;
				}
			}
		}

		&__block_sponsor {
			&__header {
			margin-top: 18px;
			padding-left: 50px;
			font-size: 32px;
			font-weight: normal!important;
		    font-weight: 500;
		    line-height: 1.63;
		    line-height: 1;
		    color: $light-black;
			}

			&__line1 {
				@extend %centerFlex;
				margin-top: 72px;

				&__image {
					&__1 {
						@include size(182px, 78px);
 						margin-right: 79px;
					}

					&__2 {
						@include size(219px, 35px);
						margin-right: 80px;
					}

					&__3 {
						@include size(153px, 58px);
						margin-right: 79px;
					}

					&__4 {
						@include size(276px, 70px)
					}
				}
			}

			&__line2 {
				@extend %centerFlex;
				margin-top: 31px;
			//	margin-bottom: 139px;

				&__image {
					&__1 {
						@include size(336px, 49px);
					  margin-right: 78px;
					}

					&__2 {
						@include size(140px, 24px);
					  margin-right: 78px;
					}

					&__3 {
						@include size(290px, 51px);
					}
				}
			}
		}
	}
}
.PostPrav
{
	color: $primary;
}
