@import './common/mixin';

@media(max-width: 991px)
{
.AdminTabList{
  .rwt__tablist
  {
    display: flex;
    flex-direction: column;
  }
}
  .DocumentTrans__Avatar__name
  {
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-align: center;
    }
  }
}

.admin {
  margin-top: 25px;

  .vacancy {
    margin-top: 25px;
  }

  &__card  {
    padding: 20px;

    &__panel {
      margin: 10px;
    }
  }

  .forum {
    &__save-structure {
      @include size(100%, 35px);
      margin-top: 30px;
    }

    &__add-subtheme {

    }
  }
}

.tab2 {
  .rwt__tablist {
    @extend %centerFlex;
  }
}
.forum__add-subtheme
{
  margin-top: 15px;
  position: relative;
  left: 45%;
  margin-bottom: 10px;
}