@import '../Styles/common/mixin';
@import '../Styles/common/color';

.auth-confirm__documents__text
{
  text-align: center;
}
.auth-confirm {
  &__column {
    @extend %centerFlex;
  }

  &__card {
    max-width: 645px;
    max-height: 600px;
    padding-bottom: 25px;
    overflow-y: auto;
    z-index: 222;

    .profile-edit__documents {
      margin-left: 0;

      &:nth-child(n+2) {
        margin-left: 15px;
      }

      &:nth-child(2n + 3) {
        margin-left: 0;
      }

      &:nth-child(n+3) {
        margin-top: 15px;
      }
    }
  }

  &__update {
    @include size(230px, 35px);
    display: block;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 15px;
  }

  &__documents {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0 25px 0;
  }
}
@media (max-width: 1120px)
{
  .auth-confirm__documents
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-edit__documents
  {
    margin-top: 10px;
  }
  .profile-edit__documents:nth-child(n+3)
  {
    margin-left: 0!important;
  }
}
