@import "./common/color";
@import "./common/mixin";

.dialog {
  position: relative;
  max-width: 1100px;
  margin-top: 25px;
  max-height: 750px;
  min-height: 600px;
  padding: 5px 15px 25px;
  overflow: auto;

  &__error {
    margin-top: 15px;
  }

  &-message {
    &:nth-child(n+2) {
      margin-top: 25px;
    }
  }

  &__footer {
    display: flex;
    margin-top: 15px;

    .input--simple {
      width: 80%;
    }

    textarea {
      width: 100%;
    }
  }

  &__send {
    @include size(145px, 39px);
    margin-right: 0;
    margin-left: auto;
  }

  .card__empty-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .dialog {
    &__fullName {
      font-size: 14px;
    }
  }
}