@import "common/color";
@import "common/mixin";

.messages {
  height: 100%;
  max-width: 1200px;
  padding: 25px 30px;
  margin-top: 25px;

  &__write {
    @include size(165px, 35px);
    position: absolute;
    top: 55px;
    right: 35px;
    z-index: 1;
  }
  &__body{
    margin-top: 40px;
    border-top: 1px solid $border-color-2;
  }

  & .rwt__tabpanel {
    margin-left: 0;
  }
}

.rwt__tabs {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .messages {
    &__write {
      @include size(89%, 30px);
      bottom: -15px;
      top: initial;
      right: initial;
      left: 26px;
    }
  }
}

@media (max-width: 767px) {
  .messages {
    &__write {
      @include size(80%, 30px);
      left: 36px;
    }
  }
}

@media (max-width: 550px) {
  .messages {
    padding: 35px 15px;
  }

  .last-message {
    position: relative;

    &__date-ago {
      position: absolute;
      right: 5px;
      top: 7px;
    }

    &__text {
      position: absolute;
      @include topLeft(46px, 73px);
      max-width: 265px;
      max-height: 34px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

@media (max-width: 450px) {
  .messages {
    &__write {
      left: 32px;
    }
  }
}

@media (max-width: 420px) {
  .last-message {
    &__date-ago {
      display: none;
    }
  }
}