@import '../Styles/common/color';
@import '../Styles/common/mixin';

@media (max-width: 991px){
  .donate__title
  {
    text-align: center;
  }
  .donate__fel
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .donate__Child2
  {
    font-weight: 500;
  }
  .donate__list
  {
    margin-bottom: 25px;
  }
}

.donate {
  &__title {
    font-size: 32px;
    font-weight: normal;
    margin-top: 25px;
  }

  &__list {
    > div {
      margin-left: 25px;
      margin-top: 20px;
    }
  }

  &-item {
    &__title {
      color: $primary;
    }

    &__description {
      margin-left: 16px;
    }
  }

  button {
    @include size(200px, 35px);
  }

  strong {
    color: $primary;
    font-weight: 500;
  }
}