@import './common/mixin';

.forgot__column {
	@extend %centerFlex;
}

.forgot__card {
    width: 550px;
}

@media (max-width: 800px) {
  .forgot {
    &__title {
      margin-top: 15px;

      &__coment {
        margin: 0;
        text-align: center;
      }
    }

    &__form {
      margin-top: 20px;

    }
  }
}

@media (max-width: 450px) {
  .forgot {
    &__submit {
      height: 40px;
      font-size: 14px;
      margin: 20px auto 15px;
    }

    &__title__coment {
      display: none;
    }
  }
}