@import './common/color';
@import './common/mixin';

.topic-add {
  margin-top: 25px;
  padding: 25px;

  h4 {
    margin: 0 0 25px;
  }

  strong {
    margin-left: 55px;
    font-weight: 500;
  }

  .api__message {
    margin-top: 25px;
  }

  &__submit {
    @include size(100%, 35px);
    margin-top: 15px;
  }

  &__field {
    &-topic {
      input {
        display: inline-block;
        width: 87% !important;
        margin-left: 15px;
      }
    }

    &-text {
      label {
        display: block;
      }

      textarea {
        width: 100%;
      }
    }

    label {
      margin-bottom: 5px;
    }

    &:nth-child(n+2) {
      margin-top: 15px;
    }
  }
}