@import "common/color";
@import "common/mixin";

.Forum {
  margin-top: 25px;
  padding-bottom: 20px;

  &__add-topic {
    @include size(100%, 30px);
    margin-top: 25px;
  }

  &__header  {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
  }

  &--none  {
    @extend %centerFlex;
    padding-left: 10px;
  }

  &__href  {
    padding-left: 5px;
    transition: 0.3s all ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}