@import '../Styles/common/color';
@import '../Styles/common/mixin';

.profile__Left__Reminds {
	margin-top: 15px;
	margin-right: 0;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
	.reminder {
		margin-top: 4px;

		&:nth-child(n+2) {
			margin-top: 10px;
		}
	}
}

.home {
	&__news {
		height: 550px;
		overflow: hidden;
		overflow-y:auto;
	}

  &__add-post-button {
    height: 30px;
  }

	.News__block {
		max-width: none;

		&__row {
			&__Left {
				&__day {
          @include size(45px, 35px);

					h1 {
						font-size: 18px;
					}
				}

				&__date {
          @include size(45px, 35px);

					h2 {
						font-size: 10px;
					}
				}
			}

			&__Center {
				padding-right: 150px;
			}
		}
	}
}

.profile-info__change-status{
  top: 60px;
}

.home__mypost {
  padding: 10px;

  &__addimage {
    background: transparent;
    border: none;
    width: 112px;
    text-align: right;
    cursor: pointer;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: underline;
    color: $primary;
  }

  textarea {
    resize: vertical;

    &:focus {
      outline: none;
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__area {
    @include size(100%, 90px);
    margin-bottom: 10px;
  }
}

.home__mypost__area {
  border: 1px solid $border-color-2;
}

.home__mypost__image__img {
  @include box(120px);
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid $border-color-2;
}
.home__mypost__addimage {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .profile__Left__Reminds__header  {
    position: relative;
    right: 73%;
    font-size: 20px;
    font-weight: 500;
  }
  .profile-info {
    &__public {
      ul {
        grid-template-columns: 230px 230px;
      }
    }

    &__list {
      li {
        min-width: 115px;
      }
    }
  }

  .profile-tips {
    &__card {

    }

    &__item {
      &:nth-child(n+2) {
        padding-left: 15px;
      }

      .profile-tips__circle {
        @include box(60px);

        img {
          @include box(30px);
        }
      }

      > div:nth-child(2) {
        margin-left: 12px;
      }
    }
  }

  .profile__Left__Reminds  {
    margin-right: unset!important;
    padding-left: 3px!important;
    padding-right: 15px;
  }
  .reminder  {
    width: 100%;
  }

  .profile__Left__Reminds  {
    position: relative;
  }
}

@media (max-width: 991px) {
  .home .rwt__tab[aria-selected="true"]{
    background: $primary!important;
    color: White!important;
  }
  .home {
    .rwt__tabs {
      .rwt__tablist {
        padding: 10px 0;
        flex-direction: column;

        button {
          padding: 7px 0 !important;
          border-top: 1px solid $border-color;
        }

        #one-tab {
          padding-left: 0 !important;
        }
      }
    }
  }

  .profile-tips {
    flex-direction: column;

    &__card {
      padding-top: 15px;
      padding-bottom: 0;
    }

    &__item {
      padding-bottom: 10px;

      &:nth-child(n+2) {
        padding-top: 10px;
        border: 0;
        border-top: 1px solid $border-color;
      }

      .profile-tips__circle {
        @include box(60px);

        img {
          @include box(30px);
        }
      }
    }
  }

  #content-app {
    > .container {
      > .row {
        display: flex;
        justify-content: center;
      }
    }
  }

  .profile-info__change-status  {
    top: 50px;
    left: 90px;
  }
}

@media (max-width: 754px){
  .profile-info__change-status  {
    width: 72%;
    top: 45px;
  }
}

@media (max-width: 540px){
  .profile-info__change-status
  {
    width: 60%;
  }
}

