@import '../Styles/common/color';
@import '../Styles/common/mixin';

.Jobs {
  margin-top: 25px;
  padding-top: 0;

  &__row {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.jobs {
  &__add-vacancy {
    @include size(100%, 35px);
    margin-top: 25px;
  }
}