@import './common/color';
@import './common/mixin';

.login {
  &__error {
    color: $orange;
    font-size: 12px;
    padding-top: 10px;
  }

  &__column {
    @extend %centerHorizontallyFlex;
    flex-direction: column;
    height: 100%;
  }

  &__card {
    height: 440px;
  }

  &__title {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__register {
    text-decoration: underline;
    font-size: 14px;
    color: $primary;
    margin-top: 5px;
  }

  &__left {
    @extend %centerVerticallyFlex;
    flex-direction: column;
  }

  &__right {
    @extend %centerVerticallyFlex;
    position: relative;
    justify-content: flex-end;

    &::after, &::before {
      @include box(100%);
      @include topLeft(0, 0);
      position: absolute;
      content: '';
    }

    &::after {
      background-color: $primary;
      opacity: 0.6;
      z-index: 1;
    }

    &::before {
      background: url('/img/login-mac.jpg') no-repeat center;
      background-size: cover;
      z-index: 0;
    }
  }

  &__involvement {
    position: relative;
    width: 235px;
    text-align: right;
    color: white;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    padding-right: 15px;
    z-index: 2;
  }
}


@media (max-width: 991px) {
  .login__card {
    margin-top: -85px;
  }
}

@media (max-height: 600px) {
  .login {
    &__card {
      height: 370px;
      margin-top: -60px;
    }

    &__title {
      font-size: 18px;
      margin-top: 15px;
    }

    &__input {
      margin-top: 15px;
    }

    &__or {
      display: none;
    }

    &__social-login {
      margin-top: 15px;
    }
  }
}