@import '../Styles/common/color';
@import '../Styles/common/mixin';

.NewsPage {
  padding-left: 0;
  margin-left: -10px;
  padding-top: 5px;

  &__more {
    width: 725px;
    margin-top: 40px;
    cursor: pointer;
    color: $light-gray;
    text-align: center;
    text-decoration: underline;
    font-size: 18px;
  }

  &__create {
    @include size(725px, 30px);
    margin-left: 0;
    margin-right: auto;
    margin-top: 22px;
  }

  &__block {
    @extend %centerFlex;
    flex-direction: column;

    &__add {
      width: 725px!important;
      position: relative;
      margin-right: 70px;
      margin-top: 23px;

      button{
        width: 100%;
      }
    }

    &__item {
      margin-top: 20px;
    }
  }
}