@import 'common/color';
@import 'common/mixin';

.card {
  &__title {
    font-size: 24px;
    color: $light-black;
    font-weight: 500;
    margin: 0 0 0 18px;
  }
}

.profile-edit {
  max-width: 1000px;
  position: relative;
  margin-top: 25px;
  padding: 25px 15px;

  &__api-documents {
    width: initial !important;
  }

  &__picture {
    position: absolute;
    top: 145px;
    right: 40px;
    z-index: 2;
  }

  &__tabs {
    margin-top: 20px;
  }

  &__basic {
    &-input {
      &:nth-child(n+2) {
        margin-top: 25px;
      }
    }

    &-save {
      @include size(230px, 35px);
      margin-top: 10px;
    }
  }

  .privacyProfile__field {
    > span {
      display: inline-block;
      width: 320px;
    }
  }

  &__privacy {
    &-toggle {
      &:nth-child(n+3) {
        margin-top: 25px;
      }

      label {
        padding: 8px 15px;
        display: inline-block;
      }

      .radio-button-group__title {
        display: inline-block;
        color: $light-black;
        font-size: 14px;
        width: 285px;
        font-weight: 500;
      }
    }

    &-submit {
      padding: 8px 35px;
      margin-top: 30px;
    }
  }

  &__document-container {
    display: flex;
    flex-wrap: wrap;
  }

  &__social-form {
    input {
      width: 300px !important;
    }
  }

  .dateTimePicker {
    > div {
      display: inline-block;
    }
  }

  form {
    label, .dateTimePicker > .dateTimePicker__title {
      width: 210px;
      color: $light-black;
      font-size: 14px;
      font-weight: 500;
    }

    input, select {
      width: 230px !important;
      height: 30px !important;
    }

    .profile-edit__social-input {
      input {
        width: 70% !important;
      }
    }

    textarea {
      width: 230px !important;
      height: 165px !important;
      vertical-align: top;
    }
  }

  .api__message {
    width: 240px;
    text-align: center !important;
    margin-top: 30px !important;
  }

  .rwt__tabpanel {
    margin-left: 20px;

    h4 {
      padding: 30px 0;
      margin: 0;
    }
  }
}

@media (max-width: 1200px) {
  .profile-edit {
    &__picture {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .profile-edit {
    &__picture {
      display: none;
    }

    form {
      label {
        text-align: left;
        margin-left: -135px;
        margin-bottom: 5px;
      }

      input {
        @include size(90% !important, 30px !important);
      }

      .profile-edit__social-input {
        input {
          width: 90% !important;
        }
      }

      textarea {
        @include size(90% !important, 165px !important);
        vertical-align: top;
      }
    }

    &__basic {
      &-form {
        text-align: center;
      }

      &-input {
        &:nth-child(n+2) {
          margin-top: 25px;
        }
      }

      &-save {
        width: 90%;
      }
    }

    &__social-input {
      label {
        margin-left: 20px !important;
        display: block;
      }
    }

    &__privacy-toggle {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      > div {
        margin-bottom: 5px;
      }

      label {
        width: 80px;
        display: block;
      }
    }

    &__document-container {
      flex-direction: column;
      align-items: center;
    }

    &__documents {
      margin-top: 25px;

      &:nth-child(2n+1),
      &:nth-child(n+2) {
        margin-left: 0 !important;
      }
    }

    &__upload {
      margin-left: 0 !important;
    }
  }

  #basicProfile,
  #privacyProfile {
    text-align: center;
  }

  .profile-edit .rwt__tabpanel h4 {
    text-align: center;
  }
}

@media (max-width: 545px){
  .profile-edit form label  {
    margin-left: -120px;
  }
}
@media (max-width: 455px){
  .profile-edit form label  {
    margin-left: 0px;
  }
}