@import "./common/color";

@media (max-width: 725px)
{
	.Qa__image
	{

		&__img
		{
			width: 100%!important;
			height: auto!important;
		}
	}

}

.Qa{
	margin-top: 65px;
	&__Left
	{
		&__Header
		{
			    line-height: 1pt;
    			font-size: 14.0pt;
					margin-bottom: 40px;
					font-weight: 700;
		}
		&__Text
		{
			font-size: 12pt;			
		}
		&__List
		{
			font-size: 12pt;
		}
	}
	&__Right
	{	
		margin-left: 30px;
		border-left: 1px solid;
		&__List
		{	

			margin-top: 55px;
			list-style-type: none;

			& li
			{
				width: 270px;
			}
		}
	}
	&__image
	{
		margin-top: 100px;
		display: flex;
		justify-content: center;
    	align-items: center;
    	&__img
    	{
    		width: 643px;
    		height: 400px;
    	}
	}
	&__click
	{
		cursor: pointer;
		margin-bottom: 40px;
		padding: 10px;
		border: 1px solid;
		width: 220px;
		display: flex;
		transition: all 0.15s ease-out;

		&__text {
			margin-left: 10px;
			transition: all 0.15s ease-out;
		}

		.fa {
			transition: all 0.15s ease-out;
			background: transparent;
		}

		&:hover {
			border-color: $primary;

			.Qa__click__text, .fa {
				color: $primary;
			}
		}
	}
}