@import '../Styles/common/mixin';

.question-add {
  margin-top: 25px;
  padding: 15px 25px;

  &__title {
    margin: 0;
    text-align: center;
    font-weight: 500;
  }

  &__text {
    margin-top: 25px;

    textarea {
      width: 100%;
    }

    label {
      margin-bottom: 5px;
      display: block;
    }
  }

  &__field {
    margin-top: 15px;

    label {
      display: inline-block;
      width: 120px;
    }

    select {
      @include size(150px, 25px);
    }
  }

  .api__message {
    margin-top: 25px;
  }

  &__submit {
    @include size(100%, 25px);
    margin-top: 10px;
  }
}