@media (max-width: 767px) {
	.registration__card {
		width: 100%;
	}

	.registration__submit {
		width: 80%;
		font-size: 14px;
	}

	.registration__left, .registration__right {
		padding-left: 35px;
		padding-right: 23px;
	}
}


@media (max-height: 700px) {
 .registration {
   &__card {
     overflow-y: auto;
     height: 450px;
     overflow-x: hidden;
     margin-bottom: 50px;
   }

   &__submit {
     margin-top: 20px;
   }

   &__left__input {
     &:first-child {
       margin-top: 0;
     }
   }
 }
}

@media (max-width: 500px) {
  .registration {
    &__title {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 380px) {
  .registration__card {
    .input {
      label {
        font-size: 14px;
      }
    }
  }
}