@import '../Styles/common/color';
@import '../Styles/common/mixin';

.summary-profile {
  margin-top: 25px;
  padding: 25px 15px;

  .avatar-circle {
    @include box(70px);
  }

  &__header {

  }

  &__full-name {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 15px;
    color: $primary;
    font-weight: 500;
    font-size: 18px;
  }

  &__content {
    h4 {
      font-weight: 500;
    }

    ul {
      li {
        &:nth-child(n+2) {
          margin-top: 5px;
        }
      }
    }
  }
}