@import "common/color";
@import "common/mixin";

.summary {
  .api__message {
    margin-top: 50px;
  }

  @extend %centerVerticallyFlex;
  flex-direction: column;
  margin-top: 25px;
  padding: 0 25px;

  label {
    display: inline-block;
    width: 200px;
  }

  input {
    width: 280px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }

  &__phone {

  }

  &__gender {
    display: flex;
    margin-top: 25px;

    > span {
      width: 200px;
    }

    .radio-button {
      @include size(140px, 25px);
      @extend %centerFlex;
    }
  }

  &__location {
    position: relative;
    margin-top: 25px;

    label {
      position: absolute;
      top: 6px;
      left: 0;
    }

    > div {
      display: inline-block;
    }

    input {
      margin-left: 200px;
      padding: 5px 10px;
      font-size: 16px;
      border: 1px solid $border-color-2;
      color: $light-gray;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $light-gray;
        font-size: 14px;
      }
    }

    .autocomplete-dropdown-container:not(:empty) {
      margin-left: 200px;
      border: 1px solid $border-color-2;

      .suggestion-item {
        transition: all 0.15s ease-out;
      }
    }
  }

  &__nationality {
    margin-top: 25px;

    &-add {
      display: block;
      margin-left: 265px;
      margin-top: 10px;
      font-size: 14px;
    }

    select {
      @include size(280px, 25px);
    }
  }

  &__education {
    input {
      @include size(280px !important, 25px !important);
      display: inline-block;
      padding: 5px;
    }

    &-item {
      &:nth-child(n+3) {
        margin-top: 50px;
      }
    }

    &-level {
      select {
        @extend %disable-outline;
        @include size(280px, 25px);
        border: 1px solid $border-color-2;
      }
    }

    &-faculty, &-year, &-specialist, &-subject {
      margin-top: 25px;
    }

    &-add {
      margin-left: 295px;
      display: block;
      margin-top: 10px;
    }
  }

  &__language {
    &-add {
      margin-left: 342px;
      display: block;
      margin-top: 10px;
    }

    &-level {
      margin-left: 10px;
    }

    &-item {
      margin-top: 10px;

      select {
        @include size(180px, 25px);
      }
    }
  }

  &__save {
    @include size(250px, 35px);
    margin-top: 25px;
    margin-bottom: 50px;
  }
}

.Summary {
  &__Gran
  {
    margin-bottom: 100px;
    span
    {
      margin-right: 60px;
    }
    select
    {
      width: 150px;
      height: 37px;
      margin-left: 10px;
    }

  }
  &__Learn
  {
    position: relative;
    right: 50px;
    h2
    {
      text-align: center;
    }
    div
    {
      margin-bottom: 20px;
      input
      {
        border: none;
        width: 200px;
        height: 35px;
        border: 1px solid rgba(157, 161, 167, 0.7);
        padding: 5px;
      }
      select
      {
        margin-left: 85px;
        width: 200px;
        height: 37px;
      }

      span
      {
        margin-left: 70px;
      }
    }
  }
  &__Language
  {
    margin-bottom: 60px;
    select
    {
      width: 200px;
      height: 37px;
    }

    h2
    {
      text-align: center;
    }
    &__flex
    {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      span
      {
        display: flex;
        align-items: center;
      }
    }
    &__row
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      *
      {
        margin-top: 10px;
      }

      &__add
      {
        margin-top: 30px;
        width: 100%;
        height: 50px;
      }
    }
  }
  &__AddButton
  {
    height: 90px;
    width: 80%;
  }

}
.RegionAdd{
  display: flex;
  position: absolute;
  right: 152px;
  width: 309px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 47px;
  margin-top: 5px;
}
.type{
  &__1
  {
    margin-left: 67px;
  }
  &__2
  {
    margin-left: 26px;
  }
  &__3
  {
    margin-left: 36px;
  }
}
.Summary__button{
  display: flex;
  justify-content: center;
  button
  {
    width: 80%;
    margin-left: 65px;
    height: 45px;
  }
}


