@import "common/mixin";
@import "common/color";

.topic {
  margin-top: 25px;
  padding: 10px;

  &__header {
    @extend %centerVerticallyFlex;
    position: relative;

    &__image {
      @include box(55px);
      border: 1px solid transparent;
      border-radius: 10px;
      object-fit: cover;
    }

    &__block {
      width: 90%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $border-color;

      &__header {
        margin: 0;
        padding-bottom: 20px;
      }

       &__author {
        font-size: 14px;
        color: $border-color-2;
        margin: 0;
       }
    }

    &__EndBlock {
      position: absolute;
      right: 0;
      padding-right: 20px;
    }
  }

  &__content {
    border-bottom: 1px solid $border-color;
    padding: 10px 10px 10px 15px;

    &__header {
      font-weight: 500;
    }

    &__text {

    }
  }

  &__Cancel {
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;

    &__Href {
      font-size: 18px;
      transition: 0.25s all ease-out;

      &:hover {
        color: $primary !important;

        .fa {
          color: $primary;
        }
      }

      &__Icon {
        font-size: 20px;
        padding-right: 5px;
        transition: 0.25s all ease-out;
      }
    }
  }

  &__comment {
    padding: 0 15px 15px;
  }

  &__AddComment {
    padding: 10px;
    display: flex;

    textarea {
      width: 100%;
    }
  }

  &__ScrollComent {
    margin-top: -10px;
    padding-left: 20px;

    span {
      cursor: pointer;
      margin-right: 5px;
    }

    &__item {
      @include box(30px);
      display: inline-block;
      color: $border-color-2;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
      transition: all 0.15s ease-out;

      &--active {
        background: $primary;
        color: white;
      }

      &:not(&--active) {
        &:hover {
          background: #ebebeb;
        }
      }
    }
  }
}

.TopicComment__Left {
  img {
    object-fit: cover;
  }
}
