@import './common/color';

@media (min-width: 1200px) {
  .add-remind__medicament
  {
    display: unset!important;
  }
}
@media (max-width: 1200px){
  .Prevention
  {
    display: flex;
  }
  .radio-button-group__title
  {
    text-align: center;
  }
  .add-remind__medicament
  {
    display: flex;
    flex-direction: column;
  }
  .add-remind__dosage
  {
    margin-left: 80px;
    height: 30px;
    margin-top: 15px;

    label
    {
      text-align: center;
    }
  }
  .input--simple__only-num-label
  {
    text-align: center;
    margin-top: 17px;
  }
  .add-remind__form button[type="submit"]
  {
    width: 100%;
  }
}
@media (max-width: 991px){
  .add-remind__medicament
  {
    display: unset;
  }

  .add-remind__form
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
  }
  .add-remind__block
  {
    display: flex;
    flex-direction: column;
  }
  .add-remind__DropDownList
  {
    margin: 0;
  }

  .Prevention
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .add-remind__dosage
  {
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .dateTimePicker__title
  {
    text-align: center;
  }

  .add-remind__DropDownList__header
  {
    text-align: center;
  }

  .add-remind__dosage label
  {
    width: 100%;
  }
}
@media (max-width: 768px){
  .AddRemind {
    .input--simple {
      #about {
        width: 100%;
      }
    }
  }
  .add-remind__medicament
  {
    display: flex;
  }
}
@media (max-width: 445px) {
  .react-datepicker-popper
  {
    top: -10px!important;
    right: -90px;
    left: unset!important;
  }
}

.reminds-big {
  h4 {
    text-align: center;
    color: $light-black;
  }
}
.reminds-big{
	max-height: 580px;
    overflow: auto;
    height: auto;	
}
.reminds-small{
	margin-top: 17px;
	margin-left: 1px;
	max-height: 680px;
    overflow: auto;
    height: auto;
    overflow-x: hidden;
}
.react-datepicker__input-container{
  margin-bottom: 15px;
}
.add-remind__medicament{
  position: relative;
  z-index: 0;
}
.react-datepicker-popper{
  z-index: 10;
}
.Treatment__Right{
  position: relative;
  z-index: 0;
}
.input--simple__only-num-label{
  top: 68%;
}
.react-datepicker__input-container{
  border:  1px solid #BABDC1;
}
.input--simple .add-remind__dosage{

  border:  1px solid #BABDC1;

  input
  {
    border:  1px solid #BABDC1;
  }
}
.react-datepicker__input-container{
  border: none;
}
.NaN{
  width: 100%;
  text-align: center;
}
.Mobile__CalendarIO{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.reminds-mobile{
  .reminder
  {
    width: 100%;
  }
}
.Mobile__header__remind{
  margin-top: 35px;
  font-size: 18px;
}
.add-remind__form{
  position: relative;
  z-index: 0;
}