
@media (max-width: 1199px){
	.TreatmentPlan__Reminder	{
		.reminder-big__time
		{
			margin-left: -60px;
		}
	}
}

@media (max-width: 991px) {
	.rbc-toolbar	{
		display: none;
	}
	.rbc-date-cell	{
		height: 80px;
	}
	.Mobile__block__TreatmentPlan{
		display: flex!important;
		justify-content: center;
	}
	.treatment-plan__card__ReminderBigList
	{
		margin-right: 15px;
	}
}

@media (max-width: 767px) {
	.rbc-date-cell {
		height: 60px;
	}

	.rbc-date-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 5px;
	}

	.rwt__tablist {
		display: flex;
	}

	.legend-item--purple {

		margin-top: 18px;

		&:before {
			top: 85px;
		}
	}

	.legend-item--green {
		&:before {
			top: 85px;
		}
	}

}

@media (max-width: 575px) {
	.legend-item--green	{
		&:before
		{
			top: 66px;
		}

	}
	.legend-item--purple{
		margin-top: 0;
		&:before
		{
			top: 70px;
		}
	}
	.TreatmentPlan__Reminder{
		.reminder-big__type		{
			font-size: 14px;
		}
		.reminder-big__title		{
			font-size: 16px;
		}
		.reminder-big__time		{
			font-size: 13px;
		}
		.reminder-big__date{
			font-size: 12px!important;
		}
	}
}

@media (max-width: 465px){
	.rwt__tablist	{
		display: unset;
	}
	.rwt__tablist	{
		border-bottom: none!important;
		display: flex;
		flex-direction: column;
	}
	.rwt__tab	{
		border-bottom: none;
	}
}

@media (max-width: 449px){
	.TreatmentPlan__Reminder
	{
		.reminder-big__date
		{
			margin-top: 20px;
		}
	}
}

@media (max-width: 422px){
	.TreatmentPlan__Reminder
	{
		.reminder-big__time
		{
			margin-top: 10px;
		}
		.reminder-big__date
		{
			margin-top: 30px;
		}
	}
}

.treatment-plan {
	height: 70%;
	margin-top: 25px;

	&__card {
		padding-bottom: 30px;
		
		&____ReminderBigList {
			margin-top: 50px;
		}

		&__Right {
      padding: 15px 30px 15px 6px;
    }
	}
}

.treatment-plan__card__ReminderBigList {
	margin-top: 15px;
	height: 100%;
	max-height: 600px;
  overflow: auto;
  height: auto;
  margin-left: 15px;
  & .reminder-big
  {
  	& .row
  	{

  			.reminder-big__date
  			{
  				font-size: 14px;
  				margin-left: -70px;
  			}
  			.reminder-big__title
  			{
  				padding-right: 60px;
  			}
  	}
  }
}

.Bigcalendar-cal{
	padding-left: 20px;
}

.legend-item--orange {
	&:before
	{
		top: 25px;
	}
	padding-left: 15px;
}

.legend-item--blue {
	&:before
	{
		top: 25px;
	}
}

.legend-item--green{
	padding-left: 15px;
}

.Mobile__CalendarIO__TreatmentPlan{
	width: 95%;
	margin-top: 10px;
}

