@import '../Styles/common/color';
@import '../Styles/common/mixin';

$input-width: 100%;

.vacancy-add {
  margin-top: 25px;
  padding: 15px 25px;

  &__message {
    margin-top: 50px;
  }

  &__price {
    @extend %centerVerticallyFlex;
    margin-top: 200px !important;

    label {
      margin-bottom: 0 !important;
    }

    > div {
      @extend %centerVerticallyFlex;
      position: relative;
      margin-top: 0;
      width: 200px;
      margin-left: 25px;

      input {
        margin-left: 5px;
      }

      span {
        top: 47%;
        right: 10px;
      }
    }
  }

  &__field {
    @include size($input-width, 30px);
    margin-top: 45px;

    &:nth-child(5) {
      height: auto;
    }

    &:nth-child(8) {
      margin-top: 20px !important;
    }

    &:nth-child(n+8) {
      margin-top: 45px;
    }

    label {
      margin-bottom: 5px;
    }
  }

  &__city {
    margin-top: 20px;

    input {
      @include size($input-width, 30px);
      margin-top: 5px;
    }
  }

  &__exp {
    select {
      @include size($input-width, 30px);
      margin-top: 5px;
    }
  }

  textarea {
    @include size($input-width, 180px);
  }

  &__title {
    padding: 0;
    margin: 0;
  }

  &__submit {
    @include size($input-width, 35px);
    margin-top: 45px;
  }

  .autocomplete-dropdown-container {
    position: relative;
    background: white;
    z-index: 20;
  }
}

@media (max-width: 991px) {
  .vacancy-add {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}