.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
  border-bottom: 1px solid #9da1a7;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid #2EC4B6;
  margin-right: 1rem;
}

.rwt__tab {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  padding: 10px 20px;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  color: #9da1a7;
}

.rwt__tab[aria-selected="false"]:hover {
  background-color: #f4f4f4;
  background-color: rgba(0,0,0,0.05);
}

.rwt__tab:focus {
  outline: 0;
}

.rwt__tab[aria-selected="true"] {
  position: relative;
  color: #2EC4B6;
}

.rwt__tab[aria-selected="true"]:after {
  content: '';
  position: absolute;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #2EC4B6;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 2px solid #2EC4B6;
}
