@import '../../Styles/common/mixin';

.dialog__footer {
  display: flex;
  margin-top: 25px;
  width: 100%;
  max-width: 1100px;

  .input--simple {
    width: 80%;

    textarea {
      width: 100%;
      height: 40px;
    }
  }

  button {
    margin: 0 auto;
    width: 15%;
    height: 40px;
  }
}