@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.profile {
  position: relative;
  margin-top: 3px;
  margin-left: 30px;

  &--not-authorize {
    a {
      color: white;
      font-weight: 500;
      font-size: 14px;
    }
  }

  &__noticication-count {
    position: absolute;
    top: 0;
    right: -20px;
  }

  .fa-angle-down {
    position: absolute;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    color: white;
  }

  &--hidden {
    display: none;
  }

  &--active {
    display: unset;
  }
}

@media(max-width: 992px) {
  .profile {
    position: absolute !important;
    top: -50px;
    right: 5px;

    &--not-authorize {
      top: -36px;
    }

    img {
      @include box(48px);
    }

    span {
      display: none;
    }
  }
}

@media(max-width: 767px) {
  .header__profile {
    display: none;
  }
}