@import '../../Styles/common/color';

.header__nav {
  transition: all 0.35s ease-out;
}

@media (max-width: 767px) {
  .header__nav {
    width: 320px;
    position: absolute;
    right: -59px;
    display: flex;
    flex-direction: column;
    margin: 0 !important;

    &-item {
      display: none !important;
      width: 80%;
    }

    &-burger {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 25px;

      .fa {
        color: white;
        font-size: 24px;
      }
    }
  }

  .header__nav--active {
    top: 52px;
    background: $primary;
    transition: all 0.35s ease-out;

    .header__nav {
      &-item {
        display: block !important;

        &.d-none {
          display: none !important;
        }

        margin: 15px 0;
        padding-left: 25px;
      }

      &-burger {
        top: -26px;
      }
    }
  }
}

@media (max-width: 640px) {
  .header__nav {
    right: -30px;
  }
}

@media (max-width: 580px) {
  .header__nav {
    right: 5px;
  }
}

@media (max-width: 580px) {
  .header__nav {
    right: 5px;
  }
}

@media (max-width: 400px) {
  .header__nav {
    right: -4px;
  }
}

@media (max-width: 320px) {
  .header__nav {
    top: 51px;
    right: -15px;
    align-items: center;
    text-align: center;

    &-item {
      padding-left: 0 !important;
      margin-top: 15px;
    }

    &-burger {
      top: -26px;
    }
  }
}