@import '../../Styles/common/color';

.reminder {
  position: relative;
  width: 255px;
  padding: 15px 10px 15px 15px;
  margin-top: 10px;

  &__date {
    font-weight: 500;
    margin-top: 10px;
    font-size: 12px;
  }

  &__type {
    display: inline-block;
    font-size: 10px;
    padding: 2px 10px;
    border-radius: 3px;
    color: white;

    &--primary {
      background: $primary;
    }

    &--warning {
      background: $orange;
    }

    &--purple {
      background: $purple;
    }

    &--blue {
      background: $dark-primary;
    }
  }

  &__text {
    font-size: 14px;
    margin-top: 10px;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 16px;
    color: $grey;
    transition: all 0.35s ease-out;

    &:hover {
      color: $light-black;
    }
  }
}

.Remind__Consult
{
  .reminder__text {
    font-weight: 300;
  }
}