@import '../../Styles/common/color';

.profile-info__count {
  cursor: pointer;
  span {
    color: $grey;
    display: block;
    text-align: center;

    &:nth-child(1) {
      font-size: 20px;
      font-weight: bold;
    }

    &:nth-child(2) {
      font-size: 12px;
    }
  }
}