@import '../../../Styles/common/mixin';

.qa-theme {
  cursor: pointer;
  @extend %centerVerticallyFlex;
  height: 50px;
  padding: 0 15px;
  transition: all 0.25s ease-out;

  &:nth-child(n+2) {
    margin-top: 5px;
  }

  .fa {
    margin-right: 15px;
  }

  &:hover {
    background: #ebebeb;
  }
}