@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.friends {
  &__item {
    padding: 10px 15px;

    &:nth-child(n+2) {
      border-top: 1px solid $border-color;
    }

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    img {
      @include box(60px);
      display: inline-block;
    }

    a {

    }
  }

  &__link {
    cursor: pointer;
    display: table;
    color: $primary;
    font-size: 14px;
    margin-left: 76px;
    margin-top: -17px;
  }

  &__full-name {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .friends__item {
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 15px;
      }
    }
  }

  .friends__full-name {
    text-align: center;
    padding-bottom: 10px;
  }

  .friends__link {
    margin: 0 !important;
    text-align: center;
  }
  .friends__item
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
