@import '../../Styles/common/color';
@import '../../Styles/common/mixin';

.profile-info {
  &__fullname {
    font-size: 24px;
    font-weight: normal;
  }

  &__status {
    font-size: 16px;
    margin-top: 5px;
  }

  &__change-status {
    cursor: default;
    @include size(80%, 20px);
    transition: all 0.25s ease-out;
    position: absolute;
    top: 50px;
    left: 25px;
    height: 20px;
    z-index: 0;
    opacity: 1;

    &--hidden {
      opacity: 0;
      z-index: -1;
    }
  }

  &__status-icons {
    transition: all 0.35s ease-out;
    position: absolute;
    top: 21px;
    right: 30px;

    .fa {
      transition: all 0.35s ease-out;
      cursor: pointer;
      color: $grey;

      &:hover {
        color: $light-black;
      }
    }
  }

  .fa-check {
    color: $primary;
    margin-right: 15px;
  }

  .fa-times {
    color: $orange;
  }

  &__actions {
    button {
      @include size(100%, 25px);
      margin-top: 15px;
    }
  }
}

@media (max-width: 991px) {
  .profile-avatar--mobile {
    position: absolute;
  }

  .profile-info {
    &__fullname, &__status {
      padding-left: 67px;
    }
  }
}

@media (max-width: 550px) {
  .profile-info {
    &__fullname {
      font-size: 18px !important;
    }

    &__status-icon {
      top: 40px !important;
    }
  }
}