@import "../../Styles/common/color";
@import "../../Styles/common/mixin";

%input-style {
	width: 95%;
	margin-top: 20px;
	font-size: 16px;
	color: $light-gray;
}

.registration {

  &__card {
    z-index: 1;
  }

	&__column {
      @extend %centerFlex;
  	  height: 100%;
	}

	&__top {
      width: 600px;
      margin-top: -10px;
	}

	&__title {
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
      color: $light-black;
      margin-bottom: 10px;
	}

	&__left {
      &__input {
        @extend %input-style;
      }
	}

	&__right {
      &__input {
          @extend %input-style;
      }
	}

	&__submit {
    @include size(235px, 40px);
    margin-top: 35px;
	  background-color: $primary;
	}

	&__certificate {
      padding-top: 5px;
      font-size: 10px;
      font-weight: 300;
      text-align: center;
      color: $light-gray;

      a {
        color: $primary;
      }
	}

	&__have_account {
      color: $primary;
      text-decoration: underline;
      margin-bottom: 30px;

      &__text {
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 14px;
        text-align: center;
        color: $light-gray;
      }
	}

	&__error {
      margin-bottom: 15px;
      font-size: 14px;
      color: $orange;
	}

	&__successfully {
      padding: 0 30px;
      margin-bottom: 20px;
  	  text-align: center;
      color: $primary;

      &__checked {
        margin-right: 10px;
        color: $primary;
      }
	}
}

.reset-password__card {
  width: 60%;
  z-index: 1;
}

.reset-password__column {
  @extend %centerFlex;
}