@import '../../Styles/common/mixin';
@import '../../Styles/common/color';

.plan-treatment {
  &__user {
    &-item {
      position: relative;
      cursor: pointer;
      margin-left: 25px;
      @extend %centerVerticallyFlex;

      &:nth-child(n+2) {
        margin-top: 15px;
      }
    }

    &-avatar {
      @include box(30px);
    }

    &-fullName {
      margin-left: 10px;
    }

    &-actions {
      display: flex;
      position: absolute;
      right: 25px;
    }

    &-change {
      span {
        color: $border-color-2;
        margin-left: 25px;
      }

      .fa {
        margin-left: 5px;
        color: $border-color-2;
      }
    }

    &-add-remind {
      span {
        color: $primary;
      }

      .fa {
        margin-left: 5px;
        color: $primary;
      }
    }
  }
}