@import '../../Styles/common/mixin';

.plan-calendar {
  &__trigger {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 25px;
    
    &--no-cursor {
      font-weight: 500;
      cursor: default;
    }
  }

  &__add-remind {
    @include size(200px, 30px);
    position: absolute;
    right: 25px;

  }

  &__user-dropdown {
    ul {
      max-height: 150px;
      overflow-y: auto;
    }
  }
}

.remind-modal {
  &__message {
    margin-top: 25px;
  }

  &__date {
    @extend %centerVerticallyFlex;

    > div {
      &:nth-child(2) {
        margin-left: 25px;
      }
    }
  }

  &__add {
    &-type {
      label {
        display: block;
      }

      select {
        @include size(100%, 35px);
      }
    }

    &-button {
      @include size(100%, 35px);
      margin-top: 10px;
    }

    &-fullName {
      strong {
        margin-left: 10px;
      }
    }

    &-datepicker {
      margin-top: 20px;

      &:nth-child(n+5) {
        margin-top: 10px;
      }

      .dateTimePicker__title {
        font-size: 16px;
      }

      .dateTimePicker__icon {
        display: none;
      }

      .react-datepicker {
        &-wrapper {
          width: 100%;
        }

        &__input-container {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }

    &-field {
      margin-top: 15px;

      &:nth-child(n+5) {
        margin-top: 25px;
      }

      label {
        margin-bottom: 5px;
      }
    }

    &-area {
      margin-top: 25px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      textarea {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .plan-treatment {
    &__user {
      &-add-remind, &-change {
        span {
          &:nth-child(1) {
            display: none;
          }
        }

        .fa-plus {
          margin-right: 15px;
        }
      }
    }
  }

  .plan-calendar {
    &__trigger {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }

    &__user-dropdown {
      width: 100%;
    }
  }
}